.pagination {
    margin: 50px 0 0;
}
.hidden {
    display: none;
}
.pagination button {
    cursor: pointer;
    padding: 10px 15px;
    border: solid #3e8453 2px;
    border-radius: 10px;
    background: none;
    color: #3e8453;
    transition: all 0.3s;
    margin: 0 5px;
}
.pagination button:hover {
    background-color: #3e8453;
    transform: scale(1.1);
    transition: all 0.3s;
    color: white;
}
.pagination button.active {
    background-color: #3e8453;
    transform: scale(1.1);
    transition: all 0.3s;
    color: white;
}