/* Présentation */
.presentation-ctn {
    width: 60vw;
    margin: 50px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.presentation-flex img {
    width: 50%;
}
.presentation-ctn h3,
.presentation-ctn p {
    color: #2b2a2a;
    text-align: center;
    width: 80%;
}
.presentation-ctn h3 {
    text-align: center;
}
.presentation-flex a{
    text-decoration: none;
    color: #3e8453;
    margin: 0 20px;
    position: relative;
    padding-bottom: 5px;
}
a.presentation-txt-link {
    font-size: 20px;
}
.presentation-txt-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #3e8453;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.presentation-txt-link:hover::after,
.presentation-txt-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
/* Responsive */
@media screen and (max-width: 1200px){ 
    .presentation-ctn {
        width: 80vw;
    }
}
@media screen and (max-width: 1000px){
    .presentation-ctn {
        width: 90vw;
        margin: 40px auto;
        gap: 40px;
    }
    .presentation-flex img {
        width: 40%;
    }
}
@media screen and (max-width: 800px){
    .presentation-ctn {
        width: 75vw;
        margin: 30px auto;
        gap: 25px;
    }
    .presentation-flex {
        flex-direction: column;
        gap: 25px;
    }
    .presentation-flex img {
        width: 60%;
    }
}
@media screen and (max-width: 500px){
    .presentation-ctn {
        width: 90vw;
        flex-direction: column;
        margin: 15px auto;
        gap: 20px;
    }
    .presentation-flex_col {
        text-align: center;
    }
}