.mentions-container p,
.mentions-container li {
    color: black;
    text-align: left;
}
.mentions-btn {
    background: none;
    border: none;
}
.mentions-btn:hover {
    cursor: pointer;
    color: #3e8453;
}
.mentions-title {
    text-align: center;
    margin-bottom: 25px;
}
.mentions-subtitle {
    font-weight: bold;
    font-style: italic;
}