.skills-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #0F1013;
    border-radius: 25px;
    width: 90%;
    padding: 15px 0 0 0;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.1);
    transition: all 0.3s;
}
.skills-ctn:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 6px 6px 0px rgba(0, 0, 0,0.5);
}
.skills-img {
    height: 30px;
    width: 30px;
}
.skills-title {
    font-size: 16px;
    margin: 10px 0;
}

/* Responsive */
@media screen and (max-width: 1000px){
    .skills-ctn {
        width: 90%;
    }
}
@media screen and (max-width: 800px){
    .skills-ctn {
        width: 60%;
    }
    .skills-title {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px){
    .skills-ctn {
        width: 80%;
    }
}