/* Rating */
.rating {
    margin: 25px;
}
.es-review-content-text {
    font-size: 16px;
}
.ReviewBackground__Container-sc-1djobrq-0.fPMSKK.es-review-background-container {
    background-color: #FBFBFB;
}
.activite-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
}
.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    gap: 20px;
}
.flex-row div{
    display: flex;
    width: 80vw;
}
.flex-row div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.flex-row h3 {
    width: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flex-row img{
    overflow: hidden;    
    object-fit: cover;
    width: 22vw;
}
img.img_desk {
    width: 35vw;
}
h3.activite-subtitle {
    margin: 25px 0 0;
    padding: 5px 10px;
    border: 2px solid #3e8453;
    border-radius: 20px;
}
.activite-boxes {
    width: 70vw;
    margin: 0;
    display: flex;
    justify-content: center;
}
.activite-boxes ul {
    gap: 2vw;
    padding: 0;
}
.activite-boxes ul li {
    width: 15vw;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 25px;
}
.activite-boxes ul li i{
    font-size: 50px;
    margin: 0 0 10px 0;
    color: #3e8453;
}
.activite-boxes.mobile {
    display: none;
}
/* Responsive */
@media screen and (max-width: 1200px){
    .rating {
        width: 90vw;
        margin: 25px 0;
    }
    .es-review-content-text {
        font-size: 16px;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .flex-row div{
        display: flex;
        justify-content: center;
        width: 90vw;
    }
    .flex-row h3{
        margin: 0;
        width: 90vw;
    }
    .flex-row img{
        width: 25vw;
    }
    img.img_desk {
        width: 40vw;
    }
    .activite-boxes {
        width: 90vw;
        display: flex;
    }
    .activite-boxes ul li {
        width: 45vw;
    }
    .activite-boxes ul li i{
        font-size: 40px;
    }
    .activite-boxes.desktop {
        display: none;
    }
    .activite-boxes.mobile {
        display: block;
    }
}
@media screen and (max-width: 1000px){
    .es-review-content-text {
        font-size: 14px;
    }
    .activite-ctn {
        padding: 25px;
    }
    .flex-row {
        width: 90vw;
    }
    .flex-row img{
        width: 30vw;
    }
    img.img_desk {
        width: 50vw;
    }
}
@media screen and (max-width: 800px){
    .es-review-content-text {
        font-size: 13px;
    }
    .flex-row {
        width: 90vw;
    }
    .flex-row div{
        margin-bottom: 15px;
    }
    .flex-row h3{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }
    .activite-boxes ul li {
        padding: 15px;
        margin: 10px 0 ;
    }
    .activite-boxes ul li i{
        font-size: 35px;
    }
}
@media screen and (max-width: 700px){
    .flex-row div{
        margin-bottom: 15px;
        flex-direction: column;
        align-items: center;
    }
    .flex-row img{
        width: 50vw;
    }
    img.img_desk {
        width: 70vw;
    }
}
@media screen and (max-width: 500px){
    .es-review-content-text {
        font-size: 12px;
    }
    .activite-ctn {
        margin: 50px auto;
        padding: 0;
    }
    .flex-row {
        width: 90vw;
    }
    .activite-boxes ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .activite-boxes ul li {
        width: 90%;
        padding: 10px 0;
        margin: 0;
    }
    .activite-boxes ul p {
        padding: 10px ;
    }
    .activite-boxes ul li i{
        font-size: 30px;
    }
}