.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.filter-text {
    width: 70vw;
}
.filter h3{
    text-align: center;
    margin: 25px 0 0;
}
.filter-flex {
    display: flex;
    gap: 25px;
}
.filter-flex p {
    width: 40vw;
}
.filter-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.filter-img img{
    width: 100%;
    object-fit: scale-down;
}
.filter-img p {
    font-size: 12px;
    text-align: center;
}
.filter-ctn {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 2%;
    margin: 50px 0;
}
.filter-btn {
    padding: 15px;
    border: solid #3e8453 2px;
    border-radius: 1rem;
    background: none;
    color: #3e8453;
    cursor: pointer;
    transition: all 0.3s;
}
.filter-btn:hover {
    background-color: #3e8453;
    transform: scale(1.1);
    transition: all 0.3s;
    color: white;
}
.filter-btn:focus {
    background-color: #3e8453;
    transform: scale(1.1);
    transition: all 0.3s;
    color: white;
}
.projets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 30px;
}

/* Responsive */
@media screen and (max-width: 1200px){
    .filter-text {
        width: 80vw;
    }
    .filter-img {
        width: 50vw;
    }
}
@media screen and (max-width: 1000px){
    .projets-grid {
        grid-template-columns: 1fr 1fr;
    }
    .filter-ctn {
        width: 90%;
    }
    .filter-text {
        width: 90vw;
    }
    .filter-flex {
        flex-direction: column;
    }
    .filter-flex p {
        width: 100%;
    }
    .filter-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    .filter-img img{
        width: 60%;
        object-fit: scale-down;
    }
}
@media screen and (max-width: 800px){
    .projets-grid {
        grid-template-columns: 1fr 1fr;
    }
    .filter-btn {
        padding: 10px;
        border-radius: 0.8rem;
    }
    .filter-img img{
        margin: auto;
        width: 60vw;
    }
}
@media screen and (max-width: 500px){
    .projets-grid {
        grid-template-columns: 1fr;
    }
    .filter-ctn {
        flex-wrap: wrap;
        gap: 10px;
    }
    .filter-img img{
        width: 80vw;
    }
}