.collapse-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    position: relative;
}
.collapse-btn{
    width: 100%;
    height: 300px;
    border-radius: 25px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    filter : brightness(60%)
}
.collapse-btn:hover {
    transition: all 0.3s;
    scale: 1.03;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    filter : brightness(100%)
}
.collapse-btn:focus,
.collapse-btn:active{
    transition: all 0.3s;
    transform: scale(1.05);
}
.collapse-logo-ctn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 0px rgba(0, 0, 0,0.2);
}
.collapse-logo {
    width: 50px;
    height: 50px;
}
.collapse-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border: none;
    border-radius: 25px;
}

.collapse-dropup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position:absolute;
    bottom: 0;
    height : 0;	
	width: 100%;
    background-color: #3e8453;
    background: rgba(0,0,0,0.5);
    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    color: white;
}
.collapse-btn:hover .collapse-dropup {
    height : 30%;	
    opacity: 1;
    transition: all 0.3s;
    cursor: auto;
}
.collapse-title {
    text-align: center;
}
h3.collapse-title {
    margin: 0;
}
h4.collapse-title {
    margin: 0;
}
.collapse-github,
.collapse-ghpages {
    margin: 0;
}
.underline {
    text-decoration: underline ;
    font-size: 18px;
    font-style: italic;
}
.collapse-content {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 80px;
    height: 100%;
    width: 100vw;
    right: -100vw;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}
.collapse-content-txt {
    background-color: #3e8453;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    padding: 50px;
    margin-bottom: 50px;
    gap: 25px;
    overflow: auto;
    color: white;
}
.open {
    right: 0;
    opacity: 1;
    transition: right 0.3s ease; 
}

.collapse-content-bg {
    width: 60vw;
    height: 100vh;
    opacity: 0.1;
    background-color: black;
    transition: all 0.3s ease; 
}
.open-bg {
    opacity: 0.5;
    transition: all 0.3s ease; 
}
.fa-xmark {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 36px;
    cursor: pointer;
}
.collapse-banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.collapse-txt {
    width: 100%;
    text-align: start;
}
.collapse-skills {
    margin: 10px;
}
.collapse-skills-icons {
    height: 50px;
    width: 50px;
    margin: 0 15px;
}
.collapse-ctn-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.collapse-dropup .collapse-ctn-icons {
    justify-content: center;
}
.collapse-icons {
    height: 30px;
    width: 30px;
}

/* Responsive */
@media screen and (max-width: 1000px){
    .collapse-content-bg {
        width: 50vw;
    }
    .collapse-content-txt {
        width: 50vw;
    }
    .underline {
        font-size: 16px;
    }
    .collapse-banner {
        width: 100%;
        height: 150px;
    }
}
@media screen and (max-width: 800px){
    .collapse-btn {
        filter : brightness(100%)
    }
    .collapse-logo {
        width: 40px;
        height: 40px;
    }
    .collapse-content-bg {
        width: 25vw;
    }
    .collapse-content-txt {
        width: 75vw;
    }
    .collapse-dropup {
        display: none;
    }
    .collapse-txt {
        display: flex;
        flex-direction: column;
    }
    .collapse-content-txt {
        padding: 50px 25px 25px 25px;
    }
}
@media screen and (max-width: 500px){
    .collapse-content-bg {
        width: 0;
    }
    .collapse-content-txt {
        width: 100vw;
    }
    .collapse-btn:hover .collapse-dropup {
        height : 30%;	
    }
    .collapse-skills-icons {
        height: 40px;
        width: 40px;
        margin: 0 5px;
    }
    .collapse-banner {
        height: 125px;
    }
}