.conf-container p,
.conf-container li {
    color: black;
    text-align: left;
}
.conf-btn {
    background: none;
    border: none;
}
.conf-btn:hover {
    cursor: pointer;
    color: #3e8453;
}
.conf-title {
    text-align: center;
    margin-bottom: 25px;
}
.conf-subtitle {
    font-weight: bold;
    font-style: italic;
}
.conf-list {
    list-style-type:circle;
    display: flex;
    flex-direction: column;
}
.conf-list li {
    margin: 0;
}