.contact-ctn {
    position: absolute;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.contact-ctn h1.contact-title{
    color: #FAF5E9;
    font-size: 230px;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 400;
    width: 50vw;
    position: relative;
    top: 25vh;
    left: 7.5vw;
}
.contact-ctn h2.contact-sub {
    color: #FAF5E9;
    font-family: 'Noto Serif', sans-serif;
}
.contact-ctn h3,
.contact-ctn h4 {
    color: #FAF5E9;
    font-family: 'Noto Serif', sans-serif;
}
.about-title-ctn {
    color: #FAF5E9;
    width: 50vw;
    position: relative;
    top: 5vh;
    left: 7.5vw;
}
.contact-txt {
    color: #FAF5E9;
    width: 30vw;
    position: relative;
    top: 30vh;
    left: 7.5vw;
}
i {
    margin-right: 0.5vw;
    width: 16px;
    text-align: center;
}
.contact-return {
    position: fixed;
    top: -98.5vh;
    right: 2.5vw;
    display: flex;
    gap: 1vh;
    color: #FAF5E9;
    text-decoration: none;
    font-style: italic;
  }
.contact-return:hover {
    text-decoration: line-through;
}
.contact-social {
    font-style: italic;
}
.contact-social:hover {
    text-decoration: line-through;
}