.navbar-ctn {
    position: fixed;
    bottom: 0;
    left: 50px;
    color: #FAF5E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    transform-origin: left;
    transform: rotate(270deg);
}
.navbar-separate {
    height: 20px;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-separate span{
    background-color: #FAF5E9;
    height: 2px;
    width: 100%;
}
.navbar-left {
    padding-left: 50px;
}
.navbar-right {
    display: flex;
    padding-right: 50px;
    gap: 10px;
}
.navbar-right a{
    color: #FAF5E9;    
    text-decoration: none;
}
.navbar-right a:hover{
    text-decoration: line-through;
}